<header class="app-header" role="banner">
  <div class="govuk-width-container app-site-width-container">
    <a href="/" class="govuk-header__link govuk-header__link--homepage">
      <span class="hmpss__logotype-crest"></span>
      <span class="govuk-header__logotype">
        <span class="govuk-header__logotype-text moj-header__logotype-text">HMPSS</span>
        <span class="moj-header__service-name">Offender Management in Custody</span>
      </span>
    </a>
    <ul id="navigation" class="govuk-header__navigation hmpss-header__navigation" aria-label="Top Level Navigation">
      <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
        <a class="govuk-header__link" href="/login">
          Login
        </a>
      </li>
    </ul>
  </div>
</header>
