<table1 class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__header" scope="row">To be completed by POM</td>
      <td class="govuk-table__cell table_cell__left_align"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell hmpps-table-cell__key">OASys updated</td>
      <td class="govuk-table__cell table_cell__left_align">
        16/11/2018
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell hmpps-table-cell__key">Pre-release board meeting</td>
      <td class="govuk-table__cell table_cell__left_align">Awaiting</td>
    </tr>
  </tbody>
</table>
<table class="govuk-table govuk-!-margin-top-8">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__header hmpps-table-cell__key" scope="row">To be completed by COM</td>
      <td class="govuk-table__cell table_cell__left_align"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell hmpps-table-cell__key">COM assigned</td>
      <td class="govuk-table__cell table_cell__left_align">
        Unallocated
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell hmpps-table-cell__key">Initial contact with POM</td>
      <td class="govuk-table__cell table_cell__left_align">
        Awaiting
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell hmpps-table-cell__key">Contact with prisoner</td>
      <td class="govuk-table__cell table_cell__left_align">
        Awaiting
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell hmpps-table-cell__key">OASys Pre-release report</td>
      <td class="govuk-table__cell table_cell__left_align">
        Awaiting
      </td>
    </tr>
  </tbody>
</table>
