    <table class="govuk-table responsive tablesorter">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header sorter-false" scope="col">POM name</th>
          <th class="govuk-table__header sorter-false" scope="col">Tier A
            cases</th>
          <th class="govuk-table__header sorter-false" scope="col">Tier B
            cases</th>
          <th class="govuk-table__header sorter-false" scope="col">Tier C
            cases</th>
          <th class="govuk-table__header sorter-false" scope="col">Tier D
            cases</th>
          <th class="govuk-table__header sorter-false" scope="col">Total</th>
          <th class="govuk-table__header sorter-false" scope="col">Working
            pattern</th>
          <th class="govuk-table__header sorter-false" scope="col">Action</th>
        </tr>
      </thead>

