<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <img src="/public/images/prisoner.png" alt="" width="70%">
  </div>
  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <span class="govuk-caption-m">Prisoner name</span>
        <h3 class="govuk-heading-m">{{prisoner | personName}}</h3>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-caption-m">Prisoner number</span>
        <h3 class="govuk-heading-m">{{prisoner.number}}</h3>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-caption-m">Date of birth</span>
        <h3 class="govuk-heading-m">{{prisoner.dob}}</h3>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <span class="govuk-caption-m">Nationality</span>
        <h3 class="govuk-heading-m">{{prisoner.nationality}}</h3>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-caption-m">Alerts</span>
        <h3 class="govuk-heading-m"><a href="#">{{prisoner.alerts}} active alerts</a></h3>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-caption-m">Release date</span>
        <h3 class="govuk-heading-m">{{prisoner.release_date}}</h3>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <span class="govuk-caption-m">Case allocation</span>
        <h3 class="govuk-heading-m">NPS</h3>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-caption-m">MAPPA nominal</span>
        <h3 class="govuk-heading-m">Yes</h3>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-caption-m">Tier calculation</span>
        <h3 class="govuk-heading-m">{{prisoner.tier}}</h3>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <span class="govuk-caption-m">Main offence</span>
        <h3 class="govuk-heading-m">Sexual activity with a female child under 16</h3>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-caption-m">Prisoner allocation</span>
        <h3 class="govuk-heading-m">Probation POM</h3>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-caption-m">Key worker</span>
        <h3 class="govuk-heading-m">Bell, Stringer</h3>
      </div>
    </div>
  </div>
</div>
