<!-- Offences -->
<table class="govuk-table">
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row">Offences</td>
    <td class="govuk-table__cell table_cell__right_align"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Main offence</td>
    <td class="govuk-table__cell table_cell__right_align">
      {% if prisoner.main_offence %}
        {{ prisoner.main_offence }}
      {% else %}
        Sexual activity with a female child under 16
      {% endif %}
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Release date</td>
    <td class="govuk-table__cell table_cell__right_align">{{ prisoner.release_date }}</td>
  </tr>
  </tbody>
</table>
<!-- Tiering information -->
<table class="govuk-table govuk-!-margin-top-8">
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row">Tiering information</td>
    <td class="govuk-table__cell table_cell__right_align"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Case allocation</td>
    <td class="govuk-table__cell table_cell__right_align">
      {% if prisoner.tier %}
        National Probation Service (NPS)
      {% else %} 
        Awaiting
      {% endif %}
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Risk of Serious Recidivism (RSR) score</td>
    <td class="govuk-table__cell table_cell__right_align">
      {% if prisoner.rsr_score %}
        {{ prisoner.rsr_score }}
      {% else %} 
        Awaiting
      {% endif %}
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Offender Group Reconviction Scale (OGRS)</td>
    <td class="govuk-table__cell table_cell__right_align">
      {% if prisoner.ogrs_score %}
        {{ prisoner.ogrs_score }}
      {% else %} 
        Awaiting
      {% endif %}
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Risk of Serious Harm (ROSH) score</td>
    <td class="govuk-table__cell table_cell__right_align">
      {% if prisoner.rosh_score %}
        {{ prisoner.rosh_score }}
      {% else %} 
        Awaiting
      {% endif %}
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Tiering calculation</td>
    <td class="govuk-table__cell table_cell__right_align">
      {% if prisoner.tier %}
        {{ prisoner.tier }}
      {% else %} 
        Awaiting
      {% endif %}
    </td>
  </tr>
  </tbody>
</table>
