.textalign--left {
  text-align: left;
}

.textalign--center {
  text-align: center;
}

.textalign--right {
  text-align: right;
}

.header-width__8 {
  width: 8%;
}

.invisible__header {
  opacity: 0;
}

.govuk-button {
  background-color: #005ea5;
}

.govuk-button:hover {
  background-color: #005ea5;
}
