.textalign--left {
  text-align: left;
}

.textalign--center {
  text-align: center;
}

.textalign--right {
  text-align: right;
}

.header-width__8 {
  width: 8%;
}

.invisible__header {
  opacity: 0;
}

.govuk-button, .govuk-button:focus {
  background-color: govuk-colour("blue");
}

.govuk-button:hover {
  background-color: govuk-colour("light-blue");
}

.timeline ul:after {
  top: 0 !important;
}
