$govuk-blue: #005ea5;

table.tablesorter {
  th.tablesorter-header {
    cursor: pointer;
  }
  th.tablesorter-header-asc .tablesorter-header-inner {
    background: url('../images/black-desc.gif') no-repeat right center !important;
  }
  th.tablesorter-header-desc .tablesorter-header-inner {
    background: url('../images/black-asc.gif') no-repeat right center !important;
  }
  th.sorter-false .tablesorter-header-inner {
    cursor: auto;
    background: none !important;
  }
  .tablesorter-header-inner a:visited {
    color: $govuk-blue;
  }
}
