
{% extends "layout_logged_in.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% set allocatedPrisoners = data.prisoners | allocatedPrisoners %}
{% set unallocatedPrisoners = data.prisoners | unallocatedPrisoners %}
{% set untieredPrisoners = data.prisoners | untieredPrisoners %}

{% block content %}

  <h1 class="govuk-heading-xl">Dashboard</h1>

  <h3 class="govuk-heading-m">Search</h3>
  <hr class="line">

  <div class='hmpps-search-component'>
    <div class='hmpps-search-component__menu'>
      <div class="govuk-form-group hmpps-search-component-element__input-half">
        <label class="govuk-label" for="name">
          Name
        </label>
        <input class="govuk-input" id="name" name="name" type="text">
      </div>

      <div class="govuk-form-group hmpps-search-component-element__dropdown">
        <label class="govuk-label" for="sort">
          Type
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="all">Prisoner</option>
          <option value="all">Jay (aka Golden ratio interaction designer) </option>
        </select>
      </div>

      <button type="submit" class="govuk-button
      hmpps-search-component-element__button">
        Search
      </button>
    </div>
  </div>

  <h3 class="govuk-heading-m">Allocations</h3>
  <hr class="line">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="box">
        <div class="top-box">
          <p>
          <a href="/prototype/allocations.html#allocated" class="govuk-!-font-weight-bold govuk-!-font-size-36">
            {{allocatedPrisoners.length}}
          </a>
          <br/>
          <a href="/prototype/allocations.html#allocated" class="govuk-!-font-weight-bold govuk-!-font-size-30">Allocated prisoners</a>
          </p>
        </div>
        <div class="bottom-box">
          <p>
          View all new cases you have been allocated this week
          </p>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="box">
        <div class="top-box">
          <p>
            <a href="/prototype/allocations.html#awaiting-allocation" class="govuk-!-font-weight-bold govuk-!-font-size-36">
              {{unallocatedPrisoners.length}}
            </a>
            <br/>
            <a href="/prototype/allocations.html#awaiting-allocation" class="govuk-!-font-weight-bold govuk-!-font-size-30">Awaiting allocation</a>
          </p>
        </div>
        <div class="bottom-box">
          <p>
            View all new cases you have been allocated this week
          </p>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div>
        <div class="top-box">
          <p>
          <a href="/prototype/allocations.html#awaiting-tiering" class="govuk-!-font-weight-bold  govuk-!-font-size-36">
            {{untieredPrisoners.length}}
          </a>
          <br/>
          <a href="/prototype/allocations.html#awaiting-tiering" class="govuk-!-font-weight-bold govuk-!-font-size-30">Awaiting tiering</a>
          </p>
        </div>
        <div class="bottom-box">
          <p>
            View all new cases you have been allocated this week
          </p>
        </div>
      </div>
    </div>
  </div>

  <h3 class="govuk-heading-m">Caseload</h3>
  <hr class="line">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div>
        <div class="top-box">
        <p>
        <a href="/prototype/caseload" class="govuk-!-font-weight-bold govuk-!-font-size-36">
          {{allocatedPrisoners.length}}
        </a>
        <br/>
        <a href="/prototype/caseload" class="govuk-!-font-weight-bold govuk-!-font-size-30">My caseload</a>
        </p>
        </div>
        <div class="bottom-box">
          <p>
            View all new cases you have been allocated this week
          </p>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div>
        <div class="top-box">
        <p>
        <a class="govuk-!-font-weight-bold govuk-!-font-size-36" href="/prototype/caseload">
          {{unallocatedPrisoners.length}}
        </a>
        <br/>
        <a href="/prototype/caseload" class="govuk-!-font-weight-bold govuk-!-font-size-30">New cases</a>
        </p>
        </div>
        <div class="bottom-box">
          <p>
            Cases you have been allocated within the last 7 days
          </p>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div>
        <div class="top-box">
        <p>
        <a href="/prototype/caseload" class="govuk-!-font-weight-bold govuk-!-font-size-36">
          {{untieredPrisoners.length}}
        </a>
          <br/>
          <a href="/prototype/caseload" class="govuk-!-font-weight-bold govuk-!-font-size-30">Approaching handover</a>
        </p>
        </div>
        <div class="bottom-box">
          <p>
            Your cases that are 10 months from release
          </p>
        </div>
      </div>
    </div>
  </div>

  <h3 class="govuk-heading-m">Staff</h3>
  <hr class="line">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div>
        <div class="top-box">
        <p>
        <a href="/prototype/caseload" class="govuk-!-font-weight-bold govuk-!-font-size-36">
          {{allocatedPrisoners.length}}
        </a>
        <br/>
        <a href="/prototype/caseload" class="govuk-!-font-weight-bold govuk-!-font-size-30">Active POMS</a>
        </p>
        </div>
        <div class="bottom-box">
          <p>
            View all new cases you have been allocated this week
          </p>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
