{% extends "layout_logged_in.html" %}

{% block pageTitle %}
My caseload
{% endblock %}

{% set allocatedPrisoners = data.prisoners | allocatedPrisoners %}

{% block content %}

<h1 class="govuk-heading-xl">My caseload</h1> 

<div class='hmpps-search-component'>
  <div class='hmpps-search-component__menu'>
    <div class="govuk-form-group hmpps-search-component-element__input">
      <label class="govuk-label" for="address-line-1">
        Prisoner name and number
        <span class="govuk-visually-hidden">line 1 of 2</span>
      </label>
      <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
    </div>

    <div class="govuk-form-group hmpps-search-component-element__dropdown">
      <label class="govuk-label" for="sort">
        Role
      </label>
      <select class="govuk-select" id="sort" name="sort">
        <option value="all">All</option>
      </select>
    </div>

    <div class="govuk-form-group hmpps-search-component-element__dropdown">
      <label class="govuk-label" for="sort">
        Time to release date
      </label>
      <select class="govuk-select" id="sort" name="sort">
        <option value="all">All</option>
        <option value="ten_months">Up to 10 months</option>
      </select>
    </div>

    <div class="govuk-form-group hmpps-search-component-element__dropdown">
      <label class="govuk-label" for="sort">
        Time since allocation
      </label>
      <select class="govuk-select" id="sort" name="sort">
        <option value="seven_days">Last 7 days</option>
      </select>
    </div>

    <button type="submit" class="govuk-button
    hmpps-search-component-element__button">
      Search
    </button>
  </div>
</div>
<table class="govuk-table responsive tablesorter govuk-!-margin-top-7 ">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col"><a
                                      class='table-sorter__link' href='#'>Prisoner name</a></th>
      <th class="govuk-table__header sorter-false" scope="col">Prisoner number</th>
      <th class="govuk-table__header" scope="col"><a class='table-sorter__link' href='#'>Release date</a></th>
      <th class="govuk-table__header" scope="col"><a href='#'
                                      class='table-sorter__link'>Allocation
                                      date</a></th>
      <th class="govuk-table__header" scope="col"><a
                                      class='table-sorter__link' href='#'>Role</a></th>
      <th class="govuk-table__header sorter-false" scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for prisoner in allocatedPrisoners %}
    <tr class="govuk-table__row">
      <td aria-label="Prisoner name" class="govuk-table__cell ">{{prisoner | personName}}</td>
      <td aria-label="Prisoner number" class="govuk-table__cell ">{{prisoner.number}}</td>
      <td aria-label="Release date" class="govuk-table__cell ">{{prisoner.release_date}}</td>
      <td aria-label="Allocation date" class="govuk-table__cell
        ">20/11/2018</td>
      <td aria-label="Role" class="govuk-table__cell">
        {{ ['Responsible', 'Supporting'] | random }}
      </td>
      <td aria-label="Action" class="govuk-table__cell "><a
                              href="/prototype/prisoner/{{prisoner.id}}">View</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
