{% extends "layout_logged_in.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-m">Email</h1>

<div>&nbsp;</div>

<p class="govuk-body-s">Dear Sally Smith,</p>
<p class="govuk-body-s">You have been allocated as the Prison Offender Manager for a new prisoner.</p>
<p class="govuk-body-s">Prisoner details</p>
<p class="govuk-body-s">Name: Willamson, David</p>
<p class="govuk-body-s">Prisoner number: A1432A</p>
<p class="govuk-body-s">Date of birth: 25/7/86</p>
<p class="govuk-body-s">Location: G wing Cell 4-32</p>
<p class="govuk-body-s">Key worker: Smith, Andy</p>
<a href="#">More information about David Willamson</a>
<p class="govuk-body-s">If you have any questions or concerns, please contact your Head of Offender Management Delivery, Allison Kennedy</p>

{% endblock %}
