{% extends "layout_logged_in.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% set pom = data.poms[pomIndex] %}
{% set prisoners = data.prisoners %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back();"
  }) }}

<!-- POM summary -->
<h1 class="govuk-heading-xl">{{pom | personName}}</h1>
<h2 class="govuk-heading-m">{{pom.email}}</h2>
<!-- Spacer -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="height: 30px;"></div>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-four-quarters">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-m">Gender</span>
        <h3 class="govuk-heading-m">{{pom.gender}}</h3>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-m">POM level</span>
        <h3 class="govuk-heading-m">{{pom.type}}</h3>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-m">Working Pattern</span>
        <h3 class="govuk-heading-m">{{pom.working_pattern}}</h3>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-m">Status</span>
        <h3 class="govuk-heading-m">{{pom.status}}</h3>
      </div>
    </div>
  </div>
</div>

<button type="submit" class="govuk-button">
  Edit information
</button>

<!-- Spacer -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="height: 80px;"></div>
  </div>
</div>

<!-- Cases & Notes table -->
<div class="govuk-grid-row">
<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#notes">
        Notes
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#caseload">
        Caseload
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="caseload">
    <table class="govuk-table responsive tablesorter">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col"><a href='#'
                class='table-sorter__link'>Prisoner Name</th>
          <th class="govuk-table__header sorter-false" scope="col">Prisoner Number</th>
          <th class="govuk-table__header sorter-false" scope="col">Arrival Date</th>
          <th class="govuk-table__header sorter-false" scope="col">Release Date</th>
          <th class="govuk-table__header header-width__8" scope="col"><a href='#'
                class='table-sorter__link'>Tier</th>
          <th class="govuk-table__header" scope="col"><a href='#'
                class='table-sorter__link'>Allocation date</th>
          <th class="govuk-table__header" scope="col"><a href='#'
                class='table-sorter__link'>Role</th>
          <th class="govuk-table__header sorter-false" scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for prisoner in prisoners %}
        {% if prisoner.pomIndex == pomIndex %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{prisoner | personName}}</td>
          <td class="govuk-table__cell">{{prisoner.number}}</td>
          <td class="govuk-table__cell">{{prisoner.arrival_date}}</td>
          <td class="govuk-table__cell">{{prisoner.release_date}}</td>
          <td class="govuk-table__cell">{{prisoner.tier}}</td>
          <td class="govuk-table__cell">{{prisoner.allocation_date}}</td>
          <td class="govuk-table__cell">Responsible</td>
          <td class="govuk-table__cell"><a
              href="/prototype/prisoner/{{prisoner.id}}">View</a></td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Davidson, William</td>
          <td class="govuk-table__cell">AE1234BD</td>
          <td class="govuk-table__cell">08/09/2018</td>
          <td class="govuk-table__cell">10/10/2023</td>
          <td class="govuk-table__cell">A</td>
          <td class="govuk-table__cell">10/09/2018</td>
          <td class="govuk-table__cell">Supporting</td>
          <td class="govuk-table__cell"><a
              href="/prototype/prisoner/{{prisoner.id}}">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">West, Brian</td>
          <td class="govuk-table__cell">ASD345HH</td>
          <td class="govuk-table__cell">08/07/2018</td>
          <td class="govuk-table__cell">10/07/2023</td>
          <td class="govuk-table__cell">B</td>
          <td class="govuk-table__cell">09/07/2018</td>
          <td class="govuk-table__cell">Responsible</td>
          <td class="govuk-table__cell"><a
              href="/prototype/prisoner/{{prisoner.id}}">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Adams, Pete</td>
          <td class="govuk-table__cell">AXS734BE</td>
          <td class="govuk-table__cell">01/01/2018</td>
          <td class="govuk-table__cell">01/10/2019</td>
          <td class="govuk-table__cell">C</td>
          <td class="govuk-table__cell">03/09/2018</td>
          <td class="govuk-table__cell">Responsible</td>
          <td class="govuk-table__cell"><a
              href="/prototype/prisoner/{{prisoner.id}}">View</a></td>
        </tr>
      </tbody>
    </table>

  </section>
  <section class="govuk-tabs__panel" id="notes">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header" scope="col">Notes</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">12/09/2018</td>
          <td class="govuk-table__cell">Something interesting happened</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
</div>
{% endblock %}
