{% extends "layout_logged_in.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% set prisonPoms = data.poms | prisonPoms %}
{% set probationPoms = data.poms | probationPoms %}

{% block content %}

<h1 class="govuk-heading-xl">Prisoner Offender Managers</h1>

<button type="submit" class="govuk-button">
  Add a new POM
</button>

<div class='govuk-tabs hmpps-poms-list' data-module='tabs'>
  <h2 class='govuk-tabs__title'>
    Probation POM
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#active">
        Active (10)
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#inactive">
        Inactive (3)
      </a>
    </li>
  </ul>

  <section class='govuk-tabs__panel hmpps-probation__section' id='active'>
    <h2 class='govuk-heading-1'>Probation POM</h2>
    {% include "../includes/poms_table_header.html" %}
      <tbody class="govuk-table__body">
        {% for pom in probationPoms %}
          {% if pom.status == 'Active' %}
          {% include "../includes/poms_table_cells.html" %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <h2 class='govuk-heading-1'>Prison POM</h2>
      <tbody class="govuk-table__body">
        {% include "../includes/poms_table_header.html" %}
        {% for pom in prisonPoms %}
          {% if pom.status == 'Active' %}
          {% include "../includes/poms_table_cells.html" %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section class='govuk-tabs__panel' id='inactive'>
    <h2 class='govuk-heading-1'>Probation POM</h2>
      <tbody class="govuk-table__body">
        {% include "../includes/poms_table_header.html" %}
        {% for pom in probationPoms %}
          {% if pom.status == 'Inactive' %}
          {% include "../includes/poms_table_cells.html" %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>

    <h2 class='govuk-heading-1'>Prison POM</h2>
      <tbody class="govuk-table__body">
        {% include "../includes/poms_table_header.html" %}
        {% for pom in prisonPoms %}
          {% if pom.status == 'Inactive' %}
          {% include "../includes/poms_table_cells.html" %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>


{% endblock %}
