{% extends "prototype1/layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% set prisoners = data.prisoners | unallocatedPrisoners %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Prisoner allocation</h1>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="form-group">
      <input class="govuk-input" id="search" name="search" type="text" placeholder="Search">
    </div>
  </div>
</div>

<table class="govuk-table responsive">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Prisoner</th>
      <th class="govuk-table__header" scope="col">Prisoner number</th>
      <th class="govuk-table__header" scope="col">Sentence calc</th>
      <th class="govuk-table__header" scope="col">Arrival date</th>
      <th class="govuk-table__header" scope="col">Release date</th>
      <th class="govuk-table__header" scope="col">Allocated</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for prisoner in prisoners %}
    <tr class="govuk-table__row">
      <td aria-label="Prisoner" class="govuk-table__cell" scope="row"><a href="/prototype1/prisoner/{{prisoner.id}}">{{prisoner | personName}}</a></td>
      <td aria-label="Prisoner number" class="govuk-table__cell" scope="row">{{prisoner.number}}</td>
      <td aria-label="Sentence calc" class="govuk-table__cell" scope="row">{{prisoner.sentence_calc}}</td>
      <td aria-label="Arrival date" class="govuk-table__cell" scope="row">{{prisoner.arrival_date}}</td>
      <td aria-label="Release date" class="govuk-table__cell" scope="row">{{prisoner.release_date}}</td>
      <td aria-label="Allocate" class="govuk-table__cell">
        <select class="govuk-select" id="pom" name="pom">
          <option value="">Please select</option>
          {% for pom in data.poms %}
          <option value="{{loop.index0}}">{{pom | fullName}} ({{pom.capacity}})</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ govukButton({
  text: "Allocate all selected"
}) }}

{% endblock %}
