.box {
  @include govuk-responsive-margin(0, bottom);
  @include govuk-responsive-padding(0);
}

.top-box {
  background-color: govuk-colour("grey-3");
  padding: 10px;
  margin-bottom: 0;
}

.top-box a {
  text-decoration: none
}

.bottom-box {
  background-color: govuk-colour("grey-4");
  padding: 10px;
  min-height: 100px;
}


