{% extends "prototype2/layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% set allocatedPrisoners = data.prisoners | allocatedPrisoners %}
{% set unallocatedPrisoners = data.prisoners | unallocatedPrisoners %}
{% set untieredPrisoners = data.prisoners | untieredPrisoners %}

{% block content %}

  <h1 class="govuk-heading-xl">Allocations</h1>

  <div class="govuk-tabs" data-module="tabs">
    <h2 class="govuk-tabs__title">
      Allocations
    </h2>

    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#allocated">
          Allocated ({{allocatedPrisoners.length}})
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#awaiting-allocation">
          Awaiting allocation ({{unallocatedPrisoners.length}})
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#awaiting-tiering">
          Awaiting tiering ({{untieredPrisoners.length}})
        </a>
      </li>
    </ul>

    <section class="govuk-tabs__panel" id="allocated">

      <table class="govuk-table responsive tablesorter">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"><a
                class='table-sorter__link' href='#'>Prisoner name</a></th>
            <th class="govuk-table__header sorter-false" scope="col">Prisoner number</th>
            <th class="govuk-table__header sorter-false" scope="col">Release date</th>
            <th class="govuk-table__header header-width__8" scope="col"><a
                class='table-sorter__link' href='#'>Tier</a></th>
            <th class="govuk-table__header" scope="col"><a
            class='table-sorter__link' href='#'>Allocation
            Date</a></th>
            <th class="govuk-table__header" scope="col"><a
                class='table-sorter__link' href='#'>POM</a></th>
            <th class="govuk-table__header sorter-false" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for prisoner in allocatedPrisoners %}
          <tr class="govuk-table__row">
            <td aria-label="Action" class="govuk-table__cell "><a href="/prototype2/prisoner_info/{{prisoner.id}}">{{prisoner | personName}}</a></td>
            <td aria-label="Prisoner number" class="govuk-table__cell ">{{prisoner.number}}</td>
            <td aria-label="Release date" class="govuk-table__cell ">{{prisoner.release_date}}</td>
            <td aria-label="Tier" class="govuk-table__cell ">{{prisoner.tier}}</td>
            <td aria-label="Tier" class="govuk-table__cell">{{prisoner.allocation_date}}</td>
            <td aria-label="POM" class="govuk-table__cell"><a href="/prototype2/pom/{{data.poms[prisoner.pomIndex].id}}">{{data.poms[prisoner.pomIndex] | personName}}</a></td>
            <td aria-label="Action" class="govuk-table__cell "><a href="/prototype2/prisoner/{{prisoner.id}}">Reallocate</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </section>
    <section class="govuk-tabs__panel" id="awaiting-allocation">

      <table class="govuk-table responsive tablesorter">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"><a
                                            class='table-sorter__link' href='#'>Prisoner name</th>
            <th class="govuk-table__header sorter-false" scope="col">Prisoner number</th>
            <th class="govuk-table__header sorter-false" scope="col">Arrival date</th>
            <th class="govuk-table__header sorter-false" scope="col">Release date</th>
            <th class="govuk-table__header header-width__8" scope="col"><a href='#'
                class='table-sorter__link'>Tier</th>
            <th class="govuk-table__header" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for prisoner in unallocatedPrisoners %}
          <tr class="govuk-table__row">
            <td aria-label="Action" class="govuk-table__cell "><a href="/prototype2/prisoner_info/{{prisoner.id}}">{{prisoner | personName}}</a></td>
            <td aria-label="Prisoner number" class="govuk-table__cell ">{{prisoner.number}}</td>
            <td aria-label="Arrival date" class="govuk-table__cell ">{{prisoner.arrival_date}}</td>
            <td aria-label="Release date" class="govuk-table__cell ">{{prisoner.release_date}}</td>
            <td aria-label="Tier" class="govuk-table__cell ">{{prisoner.tier}}</td>
            <td aria-label="Action" class="govuk-table__cell "><a href="/prototype2/prisoner/{{prisoner.id}}">Allocate</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </section>
    <section class="govuk-tabs__panel" id="awaiting-tiering">

      <table class="govuk-table responsive tablesorter">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"><a href='#'
                                            class='table-sorter__link'>Prisoner name</th>
            <th class="govuk-table__header sorter-false" scope="col">Prisoner number</th>
            <th class="govuk-table__header sorter-false" scope="col">Arrival date</th>
            <th class="govuk-table__header sorter-false" scope="col">Release date</th>
            <th class="govuk-table__header sorter-false" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for prisoner in untieredPrisoners %}
          <tr class="govuk-table__row">
            <td aria-label="Action" class="govuk-table__cell ">{{prisoner | personName}}</a></td>
            <td aria-label="Prisoner number" class="govuk-table__cell ">{{prisoner.number}}</td>
            <td aria-label="Arrival date" class="govuk-table__cell ">{{prisoner.arrival_date}}</td>
            <td aria-label="Release date" class="govuk-table__cell ">{{prisoner.release_date}}</td>
            <td aria-label="Action" class="govuk-table__cell "><a href="/prototype2/tiering/{{prisoner.id}}">Start tiering</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </section>
  </div>

{% endblock %}
