{% extends "prototype2/layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% set prisonPoms = data.poms | prisonPoms %}
{% set probationPoms = data.poms | probationPoms %}

{% block content %}

<h1 class="govuk-heading-xl">Prisoner Offender Managers</h1>

<button type="submit" class="govuk-button">
  Add a new POM
</button>

<div class='govuk-tabs hmpps-poms-list' data-module='tabs'>
  <h2 class='govuk-tabs__title'>
    Probation POM
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#allocated">
        Active (12)
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#awaiting-allocation">
        Inactive (3)
      </a>
    </li>
  </ul>

  <section class='govuk-tabs__panel hmpps-probation__section' id='active'>
    <h2 class='govuk-heading-1'>Probation POM</h2>
    <table class="govuk-table responsive tablesorter">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header sorter-false" scope="col">POM name</th>
          <th class="govuk-table__header sorter-false" scope="col">Tier A
            cases</th>
          <th class="govuk-table__header sorter-false" scope="col">Tier B
            cases</th>
          <th class="govuk-table__header sorter-false" scope="col">Tier C
            cases</th>
          <th class="govuk-table__header sorter-false" scope="col">Tier D
            cases</th>
          <th class="govuk-table__header sorter-false" scope="col">Total</th>
          <th class="govuk-table__header sorter-false" scope="col">Working
            pattern</th>
          <th class="govuk-table__header sorter-false" scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for pom in probationPoms %}
        <tr class="govuk-table__row">
          <td aria-label="POM name" class="govuk-table__cell"><a
                                    href="/prototype2/pom/{{pom.id}}">{{ pom |
                                    personName }}</a></td>
          <td aria-label="POM tier A cases" class="govuk-table__cell">{{ pom.tier_a }}</td>
          <td aria-label="POM tier B cases" class="govuk-table__cell">{{ pom.tier_b }}</td>
          <td aria-label="POM tier C cases" class="govuk-table__cell">{{ pom.tier_c }}</td>
          <td aria-label="POM tier D cases" class="govuk-table__cell">{{ pom.tier_d }}</td>
          <td aria-label="Total cases" class="govuk-table__cell">{{ pom.total }}</td>
          <td aria-label="Working pattern" class="govuk-table__cell">{{ pom.working_pattern }}</td>
          <td aria-label="Action" class="govuk-table__cell"><a href=''>View</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section class='govuk-tabs__panel' id='active'>
    <h2 class='govuk-heading-1'>Prison POM</h2>
    <table class="govuk-table responsive tablesorter">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header sorter-false" scope="col">POM name</th>
          <th class="govuk-table__header sorter-false" scope="col">Tier A
            cases</th>
          <th class="govuk-table__header sorter-false" scope="col">Tier B
            cases</th>
          <th class="govuk-table__header sorter-false" scope="col">Tier C
            cases</th>
          <th class="govuk-table__header sorter-false" scope="col">Tier D
            cases</th>
          <th class="govuk-table__header sorter-false" scope="col">Total</th>
          <th class="govuk-table__header sorter-false" scope="col">Working
            pattern</th>
          <th class="govuk-table__header sorter-false" scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for pom in prisonPoms %}
        <tr class="govuk-table__row">
          <td aria-label="POM name" class="govuk-table__cell"><a
                                    href="/prototype2/pom/{{pom.id}}">{{ pom |
                                    personName }}</a></td>
          <td aria-label="POM tier A cases" class="govuk-table__cell">{{ pom.tier_a }}</td>
          <td aria-label="POM tier B cases" class="govuk-table__cell">{{ pom.tier_b }}</td>
          <td aria-label="POM tier C cases" class="govuk-table__cell">{{ pom.tier_c }}</td>
          <td aria-label="POM tier D cases" class="govuk-table__cell">{{ pom.tier_d }}</td>
          <td aria-label="Total cases" class="govuk-table__cell">{{ pom.total }}</td>
          <td aria-label="Working pattern" class="govuk-table__cell">{{ pom.working_pattern }}</td>
          <td aria-label="Action" class="govuk-table__cell"><a href=''>View</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>


{% endblock %}
