
{% extends "prototype2/layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% set prisoner = data.prisoners | getPrisoner(id) %}
{% set allocatedPOM = data.poms[prisoner.pomIndex] %}
{% set poms = data.poms %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back();"
  }) }}

  {% include "../includes/prisoner_details.html" %}

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible">

  <h4 class="govuk-heading-m">Choose the person you would like to {% if allocatedPOM %}re-allocate{% else %}allocate{% endif %} to this prisoner</h4>

  <p>We'll send them an email to let them know about their new allocation.</p>

  <form method='post'>
    <div class='govuk-form-group'>
      <fieldset class='govuk-fieldset'>
      <div class='govuk-radios'>
        <table class="govuk-table responsive">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">
                <div class='invisible__header'>Action</div>
              </th>
              <th class="govuk-table__header" scope="col">POM name</th>
              <th class="govuk-table__header" scope="col">Type</th>
              <th class="govuk-table__header" scope="col">Tier A cases</th>
              <th class="govuk-table__header" scope="col">Tier B cases</th>
              <th class="govuk-table__header" scope="col">Tier C cases</th>
              <th class="govuk-table__header" scope="col">Tier D cases</th>
              <th class="govuk-table__header" scope="col">Total</th>
              <th class="govuk-table__header" scope="col">Working pattern</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for pom in poms %}
            <tr class="govuk-table__row">
              <td aria-label="Action" class="govuk-table__cell">
                <div class='govuk-radios__item'>
                  <input class='govuk-radios__input' id='{{pom.id}}' name="allocation[pom_id]" type='radio' value='{{pom.id}}'>
                  <label class='govuk-label govuk-radios__label' for="pom-{{pom.id}}"></label>
                </div>
              </td>
              <td aria-label="POM name" class="govuk-table__cell ">{{pom | personName}} </td>
              <td aria-label="Type" class="govuk-table__cell">{{pom.type}}</td>
              <td aria-label="Tier A cases" class="govuk-table__cell">{{pom.tier_a}}</td>
              <td aria-label="Tier B cases" class="govuk-table__cell ">{{pom.tier_b}}</td>
              <td aria-label="Tier C cases" class="govuk-table__cell ">{{pom.tier_c}}</td>
              <td aria-label="Tier D cases" class="govuk-table__cell ">{{pom.tier_d}}</td>
              <td aria-label="Total" class="govuk-table__cell ">{{pom.total}}</td>
              <td aria-label="Working pattern" class="govuk-table__cell ">{{pom.working_pattern}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </fieldset>
    </div>

    <h5 class="govuk-heading-s"><a href="/prototype2/tiering/{{prisoner.id}}">Amend prisoner's tiering and allocation information</a></h5>

    <p><a href="#" role="button" class="button-secondary">+ Supporting POM</a></p>

    <hr class="govuk-section-break govuk-section-break--invisible">

    <button type="submit" class="govuk-button" formaction="/prototype2/confirm-allocation/{{prisoner.id}}">Continue</button>
  </form>

{% endblock %}
