
{% extends "prototype2/layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% set prisoner = data.prisoners | getPrisoner(id) %}
{% set allocatedPOM = data.poms[prisoner.pomIndex] %}


  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back();"
  }) }}

  {% include "../includes/prisoner_details.html" %}

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  {% if allocatedPOM %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <span class="govuk-caption-m">Responsible POM</span>
        <h4 class="govuk-heading-m">
            {{allocatedPOM | fullName}}
        </h4>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Email address</span>
        <h4 class="govuk-heading-m">
            {{allocatedPOM.email}}
        </h4>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  {% endif %}


  <h4 class="govuk-heading-m">Choose the person you would like to {% if allocatedPOM %}re-allocate{% else %}allocate{% endif %} to this prisoner</h4>
  <p>We'll send them an email to let them know about their new allocation.</p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/prototype2/allocatepom">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <input type="hidden" id="prisonerId" name="prisonerId" value="{{prisoner.id}}">
            <select class="govuk-select" id="allocatedPom" name="allocatedPom">
              <option value="">Please select</option>
              {% for pom in data.poms %}
              <option value="{{loop.index0}}">{{pom | fullName}} ({{pom.capacity}})</option>
              {% endfor %}
            </select>
          </fieldset>
        </div>

        {% if not allocatedPOM %}
          <div class="govuk-!-margin-bottom-4">
            <a href="#" class="govuk-link govuk-link--no-visited-state">Amend prisoner's tiering and allocation information</a>
          </div>
        {% endif %}

        {{ govukButton({
          text: "Make assignment"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
