
{% extends "prototype2/layout.html" %}

{% block pageTitle %}
  Prisoner Info
{% endblock %}

{% block content %}

{% set prisoner = data.prisoners | getPrisoner(id) %}
{% set allocatedPOM = data.poms[prisoner.pomIndex] %}
{% set pom =  data.poms | getPom(pom_id) %}


  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back();"
  }) }}

  {% include "../includes/prisoner_details.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
    <div>&nbsp;</div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <span class="govuk-caption-m">Indeterminate sentence</span>
      <h3 class="govuk-heading-m">No</h3>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <span class="govuk-caption-m">Responsible POM</span>
      <h3 class="govuk-heading-m"><a href="#">Smith, Sally</a></h3>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <span class="govuk-caption-m">Add a supporting Pom</span>
      <h3 class="govuk-heading-m"><a href="#">Add a supporting POM</a></h3>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible">

  <h3 class="govuk-heading-m">History</h3>

  <div class="row">
  <div class="column-two-thirds">
    <div class="timeline">
      <ul>
        <li class="action_needed">
          <h2>Initial contact made</h2>
          <p><a href="#">Smith, Sally</a></p>
          <p class="time">18 September 2018 at 1.01pm</p>
        </li>
        <li>
          <h2>Allocated to responsible POM {{pom}}</h2>
          <p>Kennedy, Allison</p>
          <p class="time">16 September 2018 at 11.32am</p>
        </li>
        <li>
          <h2>Tiering calculation {{prisoner.tier}}</h2>
          <p>Kennedy, Allison</p>
          <p class="time">10 September 2018 at 8.12pm</p>
        </li>
        <li>
          <h2>Sentence calculation completed</h2>
          <p>Scarn, Michael</p>
          <p class="time">8 September 2018</p>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
