{% extends "prototype2/layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% set prisoner = data.prisoners | getPrisoner(id) %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back();"
  }) }}

  <h1 class="govuk-heading-l">Tiering for {{prisoner | personName}} ({{prisoner.number}})</h1>

  {{ govukRadios({
    classes: "govuk-radios",
    idPrefix: "responsible",
    name: "responsible",
    fieldset: {
      legend: {
        text: "Who is responsible for this case?"
      }
    },
    items: [
      {
        value: "nps",
        text: "National Probation Service (NPS)"
      },
      {
        value: "crc",
        text: "Community Rehabilitation Company (CRC)"
      }
    ]
  }) }}

  {{ govukRadios({
    classes: "govuk-radios",
    idPrefix: "rsr-score",
    name: "rsr-score",
    fieldset: {
      legend: {
        text: "What is the prisoner's Risk of Serious Recidivism (RSR) score?"
      }
    },
    items: [
      {
        value: "1",
        text: "0% to 2.9%"
      },
      {
        value: "2",
        text: "3% to 6.8%"
      },
      {
        value: "3",
        text: "6.9% or more"
      },
      {
        value: "4",
        text: "I don't have their RSR assessment"
      }
    ]
  }) }}

  {{ govukRadios({
    classes: "govuk-radios",
    idPrefix: "ogrs-score",
    name: "ogrs-score",
    fieldset: {
      legend: {
        text: "What is the prisoner's Offender Group Reconviction Scale (OGRS) score?"
      }
    },
    items: [
      {
        value: "1",
        text: "0% to 74%"
      },
      {
        value: "2",
        text: "75% to 89%"
      },
      {
        value: "3",
        text: "90% or more"
      },
      {
        value: "4",
        text: "I don't have their OGRS assessment"
      }
    ]
  }) }}

  {{ govukRadios({
    classes: "govuk-radios",
    idPrefix: "rosh-score",
    name: "rosh-score",
    fieldset: {
      legend: {
        text: "What is the prisoner's Risk of Serious Harm (RoSH) score?"
      }
    },
    items: [
      {
        value: "1",
        text: "Low"
      },
      {
        value: "2",
        text: "Medium"
      },
      {
        value: "3",
        text: "High"
      },
      {
        value: "4",
        text: "Very high"
      },
      {
        value: "5",
        text: "I don't have their result"
      }
    ]
  }) }}

  {{ govukButton({
    text: "Continue",
    href: "/prototype2/tiering-result/"+id
  }) }}

{% endblock %}
