
{% extends "layout_logged_out.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="box">
        <h2 class="govuk-heading-m">Prototype 1</h2>
        <p>Description here</p>
        <a href="/prototype1/">Prototype 1</a>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="box">
        <h2 class="govuk-heading-m">Prototype 2</h2>
        <p>Description here</p>
        <a href="/prototype2/">Prototype 2</a>
      </div>
    </div>
  </div>

{% endblock %}
